<html>
<head>
    <meta charset='utf-8'/>
    <title>Web tool (temp)</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>

<body>

    #if(!$createdUser) #*checking for null value*#

        <div class="block">
            <form id="login-form" action="/register" method="post">
                <input name="username" placeholder="username" type="text">
                <input name="password" placeholder="password" type="password">
                <input name="passwordrep" placeholder="repeat password" type="password">            #*needs script to verify*#
                <input name="email" placeholder="email" type="text">
                    #if($director)
                        <select name="store" form="login-form" class="ui-autocomplete-category">
                            <option value="store">STORE_NAME_1</option>
                            <option value="store">STORE_NAME_2</option>
                            <option value="store">STORE_NAME_3</option>
                        </select>

                        <select name="type" form="login-form" class="ui-autocomplete-category">
                            <option value="type">kasjer</option>
                            <option value="store">kierownik</option>
                        </select>
                    #end
                <input type="submit">
            </form>
        </div>

    #else
        <output id="username" contenteditable="false"> $createdUser.username</output><br/>
        <output id="password" contenteditable="false"> $createdUser.password</output><br/>
    #end
</body>
</html>