<html>
<head>
    <meta charset='utf-8'/>
    <title>Web tool (temp)</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>

    $response.setHeader("Content-Type", "application/json")

    #set($limit = '10')
    #set($orderBy='modDate desc')
    #set($query="+structureName:NAMEOFSTRUCTURE")

    #set ($listItems = "")
    #set ($listItems = $dotcontent.pull($query,$limit,$orderBy))

    #set ($myList = $contents.getEmptyList())
    #set ($mymap = $contents.getEmptyMap())

## Do a loop through the structure and populate a title (or other field)
    #set($dummy = $mymap.put("title","$list.title"))
##end
    #set($myjson = $json.generate($mymap))
    #set($dummy = $myList.add($myjson))

##Now output the contents you created above into a JSON format:
{"contentlets":$myList}

<form action="/login" method="post" enctype="multipart/form-data">
    <input name="username" value="username" type="text">
    <input name="password" value="password" type="password">
    <input type='submit'>
</form>

</body>
</html>