<html>
    <head>
        <meta charset='utf-8'/>
        <title>Web tool (temp)</title>
        <link rel='stylesheet' href='/bootstrap/bootstrap.css'>
    </head>
    <body onload="onLoad();">
        #include("template/nav.vm")
        <section>

        </section>
        <footer>

        </footer>
    </body>
</html>